//Import Global Rules 
@use './sass/layout/global-rules';

//Import Pages
@use './sass/pages/contact';  
//Import variables
@use './sass/variables/colores' as *;

//global variable

.header {
    color: $alt-color;
}
.footer {
 
    background-color: $alt-color;
    color: $main-color;
}

$max_mobile:"797px";
@media (max-width: $max_mobile) {
    .sidebar {
        padding:20px;
    }
}

//nesting & Parent Element 
.parent {
    font-size: bold;

}
.parent .child {
    font-size: 20px;
}
 .parent .child .grand-child {
    font-size:15px;
 }

 ////practise on if and Else If and Else
 
 
 
 $direction:"top";
 
 %main-box {
    padding: 15px;
    background-color: white;
    border: 2px solid #ccc;
 }
 .arrow-div {
    @extend %main-box;
     font-size: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 300px;
     height: 300px;
     position: relative;
     margin: 50px auto;
     &::before {
        content: "";
        position: absolute;
        border: 20px solid transparent ;
        @if $direction=='top' {
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            border-bottom-color: red;
        }
        @else if $direction=='right'{
            right:-40px ;
            top: 50%;
            transform: translateY(-50%);
            border-left-color:red;
            }
            @else if $direction=='bottom'{
                bottom: -40px;
                left: 50%;
                transform: translateX(-50%);
                border-top-color:red;
            }
            @else if $direction=='left'{
                left: -40px;
                top: 50%;
                border-right-color: red;
                transform: translateY(-50%);
            }
            @else {
                @error "This direction #{ $direction } is not valid";
            }
     }
 }

 ///Hello there

 $position:"left";
 $company:"aya";
    .ad-#{$company}-#{unique-id()}{
    font-size: 20px;
    background-color: green;
    width: 400px;
    height: 400px;
 
 }
